.content {
    padding: 0;

    .header {
        padding: 14px 0 10px 0;
        text-align: center;
        background-color: #BFBDBB;
        border-bottom: 4px solid #aaa9a7;

        h1 {
            font-size: 26px;
            margin: 0;
        }
    }

    .sub-header {
        padding: 11px 0 9px 0;
        text-align: center;
        background-color: #EBEBEB;
        border-top: 1px solid #DFDFDF;
        border-bottom: 3px solid #d2d2d2;

        h2 {
            font-size: 24px;
            margin: 0;
        }
    }

    .pools {
        width: 780px;

        .pool {
            text-align: center;
            margin: 10px 5px 10px 5px;
            float: left;
            width: 240px;
            padding: 5px;
            font-weight: bold;
            color: white;
        }

        .yellow {
            background-color: #FFCB00;
            border: 2px solid #EEBD00;
        }
        .orange {
            background-color: #E97D00;
            border: 2px solid #CA7700;
        }
        .red {
            background-color: #E92D00;
            border: 2px solid #C52600;
        }
    }

    .units {
        padding: 20px;

        .unit {
            @include box-shadow(rgba(0, 0, 0, 0.175) 0 1px 6px );

            .informations {
                padding: 7px;
                text-align: center;

                .sprite {
                    margin-right: 5px;
                }

                h2 {
                    margin: 0;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                }

                .stat {
                    img {
                        margin-right: 3px;
                    }

                    font-size: 12px;
                    font-weight: bold;
                    display: inline-block;
                    margin: 0 5px 0 0;
                }

                .separator {
                    background-color: rgba(0, 0, 0, 0.175);
                    height:1px;
                    margin: 3px 0 1px 57px;
                }
            }

            .actions {
                text-align: center;
                margin: 0 0 20px 0;
                padding: 7px 0 7px 0;
                border-top: 1px solid rgba(0, 0, 0, 0.07);
            }
        }
    }

    .search {
        text-align: center;
        padding: 20px;
    }
}

.teams {
    padding: 15px;

    h1 {
        padding: 0;
        margin: 0 0 5px 0;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }

    .team {
        margin-bottom: 10px;
        border: 1px solid #f5f5f5;
        border-left: 3px solid #eee;
        padding: 5px;

        .title {
            padding-top: 6px;
            font-size: 16px;
            font-weight: bold;
            display: inline-block;
        }

        .points {
            padding: 5px;
            background-color: #AD979E;
            margin: 2px 7px 2px 3px;
            float: left;
            color: white;
        }

        .stats {
            float: right;
            font-size: 16px;
            margin: 6px 5px 0 0;

            .red {
                color: #AE0000;
                font-weight: bold;
                margin-left: 3px;
            }

            .green {
                color: #009F05;
                font-weight: bold;
                margin-right: 3px;
            }
        }
    }

    .team.active {
        background-color: #E5F5FF;
        border: 1px solid #D8E7F0;
        border-left: 3px solid #CDDBE3;
    }
}