app/*\.cache
app/cache/*
app/logs/*

app/bootstrap.php.cache
app/config/parameters.yml
app/config/deploy.rb

app/var/jwt/private.pem
app/var/jwt/public.pem

!app/cache/.gitkeep
!app/logs/.gitkeep

/* Assets */

web/bundles/*
web/uploads/*

client/dist/
client/app/vendor/
client/tmp/

bin/behat
bin/doctrine*
bin/phpspec
bin/phpunit
bin/sql-formatter
bin/security-checker

vagrant/*
vendor/*
composer.phar

node_modules
node_modules/*

npm-debug.log
.sass-cache/*
.idea/*



