.object-info-container {
  display: block;
  cursor: pointer;
  height: 100px;
  padding: 10px 10px 10px 0;
}

.object-info {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 3px;
  overflow: hidden;

  .name {
    background: #b0bbc4;
    height: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    width: 100%;
  }

  .bonuses {
    background: #b0bbc4;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    width: 100%;
  }
}

.object-info-container.active > .object-info {
  box-shadow: rgba(255,255,255,0.8) 0 0 20px;
  transition: .5s background-size ease-in-out;
}

.object-info .stat {
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  margin: 0 5px 0 0;
  vertical-align: middle;

}
.object-info .stat img {
  margin-right: 3px;
}
