Salut la compagnie !
<br><br>
Merci de l'intérêt que vous portez à notre jeu, nous espérons vous y retrouver le plus vite possible ! Actuellement, le jeu est en développement très actif pour vous procurer une expérience unique, mais nous vous le rendrons accessible le plus rapidement possible durant des Week-Ends de Playtest.
<br><br>
A Znieh Games on aime nos joueurs et on leur prouve, chaque joueur contribuant à un week-end de jeu, participant à un sondage ou bien parlant de nous sera grandement récompensé lors de la sortie officielle !
Nous comptons ainsi sur vous, pour nous aider dans ce projet fou...
<br><br>
Pour le moment, nous sélectionnons à la main nos premiers joueurs dans la liste. Vous pourrez améliorer vos chances d'être choisis en faisant passer le mot à propos de Znieh Games sur les canaux de médias sociaux comme <a href="https://twitter.com/ZniehGames">Twitter</a> et <a href="https://www.facebook.com/ZniehGames">Facebook</a>.
<br><br>
Alors, allez-y, partagez votre enthousiasme ! :-)
<br><br>
Aurélien<br>
Fondateur de Znieh Games
