extends ./navbar.jade

block content
  .user(ng-controller="LoginCtrl")
    form.login-form.navbar-form.navbar-right(role="search" ng-submit="submit()" ng-hide="hideLoginForm")
        .form-group
          input.form-control(type="text" name="username" ng-model="credentials.username" placeholder="Username")
        .form-group
          input.form-control(type="password" name="password" ng-model="credentials.password" placeholder="Password")
        button.btn.btn-default(type="submit") Connexion
    ul.nav.navbar-nav.navbar-right(ng-show="hideLoginForm")
       li
          a Bienvenue {{ username }} !
       li.active
          a(ng-click="go('/search')") Retour au jeu
       li
          button.btn.btn-default.navbar-btn(type="submit" ng-click="logout()") Déconnection
