.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse")
      a.navbar-brand(href="#") Znieh Games

    .collapse.navbar-collapse
      ul.nav.navbar-nav
      block content
