extends ../village_layout.jade

block content
    .row
        .col-sm-12
            .header
                h1 Prêt à combattre ?
            .sub-header
                h2 Choisis ton arène
            .pools.center-block
                .pool.yellow
                    |100
                    br
                    |points
                .pool.orange
                    |200
                    br
                    |points
                .pool.red
                    |400
                    br
                    |points