extends ../village_layout.jade

block content
    .row(ng-controller="FightSearchCtrl")
        .col-sm-12
            .header
                h1 Prêt à combattre ?
            //- .sub-header
            //-     h2 Choisis ton arène
            //- .pools.center-block
            //-     .pool.yellow
            //-         |100
            //-         br
            //-         |points
            //-     .pool.orange
            //-         |200
            //-         br
            //-         |points
            //-     .pool.red
            //-         |400
            //-         br
            //-         |points
            .sub-header
                h2 Choisis parmi ces combattants prêts à mourir pour toi !
            .units.row
                .col-xs-4.col-sm-4.col-md-4.col-lg-2
                    .unit
                        .informations.clearfix
                            .pull-left
                                img(src="http://lorempicsum.com/simpsons/50/75/1").sprite
                            .details
                                h2 Jack
                                .separator
                                .stat
                                    img(src="../images/icons/vie.png")
                                    |32
                                .stat
                                    img(src="../images/icons/force.png")
                                    |32
                                .stat
                                    img(src="../images/icons/intelligence.png")
                                    |32
                                .stat
                                    img(src="../images/icons/precision.png")
                                    |32
                                .stat
                                    img(src="../images/icons/defense.png")
                                    |32
                                .stat
                                    img(src="../images/icons/parade.png")
                                    |32
                                .stat
                                    img(src="../images/icons/agilite.png")
                                    |32
                                .separator
                        .actions
                            button.btn.btn-info.btn-xs
                                |24 points
                            button.btn.btn-default.btn-xs
                                |Sélectionner
                .col-xs-4.col-sm-4.col-md-4.col-lg-2
                    .unit
                        .informations.clearfix
                            .pull-left
                                img(src="http://lorempicsum.com/simpsons/50/75/1").sprite
                            .details
                                h2 Jack
                                .separator
                                .stat
                                    img(src="../images/icons/vie.png")
                                    |32
                                .stat
                                    img(src="../images/icons/force.png")
                                    |32
                                .stat
                                    img(src="../images/icons/intelligence.png")
                                    |32
                                .stat
                                    img(src="../images/icons/precision.png")
                                    |32
                                .stat
                                    img(src="../images/icons/defense.png")
                                    |32
                                .stat
                                    img(src="../images/icons/parade.png")
                                    |32
                                .stat
                                    img(src="../images/icons/agilite.png")
                                    |32
                                .separator
                        .actions
                            button.btn.btn-info.btn-xs
                                |24 points
                            button.btn.btn-default.btn-xs
                                |Sélectionner
                .col-xs-4.col-sm-4.col-md-4.col-lg-2
                    .unit
                        .informations.clearfix
                            .pull-left
                                img(src="http://lorempicsum.com/simpsons/50/75/1").sprite
                            .details
                                h2 Jack
                                .separator
                                .stat
                                    img(src="../images/icons/vie.png")
                                    |32
                                .stat
                                    img(src="../images/icons/force.png")
                                    |32
                                .stat
                                    img(src="../images/icons/intelligence.png")
                                    |32
                                .stat
                                    img(src="../images/icons/precision.png")
                                    |32
                                .stat
                                    img(src="../images/icons/defense.png")
                                    |32
                                .stat
                                    img(src="../images/icons/parade.png")
                                    |32
                                .stat
                                    img(src="../images/icons/agilite.png")
                                    |32
                                .separator
                        .actions
                            button.btn.btn-info.btn-xs
                                |24 points
                            button.btn.btn-default.btn-xs
                                |Sélectionner
                .col-xs-4.col-sm-4.col-md-4.col-lg-2
                    .unit
                        .informations.clearfix
                            .pull-left
                                img(src="http://lorempicsum.com/simpsons/50/75/1").sprite
                            .details
                                h2 Jack
                                .separator
                                .stat
                                    img(src="../images/icons/vie.png")
                                    |32
                                .stat
                                    img(src="../images/icons/force.png")
                                    |32
                                .stat
                                    img(src="../images/icons/intelligence.png")
                                    |32
                                .stat
                                    img(src="../images/icons/precision.png")
                                    |32
                                .stat
                                    img(src="../images/icons/defense.png")
                                    |32
                                .stat
                                    img(src="../images/icons/parade.png")
                                    |32
                                .stat
                                    img(src="../images/icons/agilite.png")
                                    |32
                                .separator
                        .actions
                            button.btn.btn-info.btn-xs
                                |24 points
                            button.btn.btn-default.btn-xs
                                |Sélectionner
                .col-xs-4.col-sm-4.col-md-4.col-lg-2
                    .unit
                        .informations.clearfix
                            .pull-left
                                img(src="http://lorempicsum.com/simpsons/50/75/1").sprite
                            .details
                                h2 Jack
                                .separator
                                .stat
                                    img(src="../images/icons/vie.png")
                                    |32
                                .stat
                                    img(src="../images/icons/force.png")
                                    |32
                                .stat
                                    img(src="../images/icons/intelligence.png")
                                    |32
                                .stat
                                    img(src="../images/icons/precision.png")
                                    |32
                                .stat
                                    img(src="../images/icons/defense.png")
                                    |32
                                .stat
                                    img(src="../images/icons/parade.png")
                                    |32
                                .stat
                                    img(src="../images/icons/agilite.png")
                                    |32
                                .separator
                        .actions
                            button.btn.btn-info.btn-xs
                                |24 points
                            button.btn.btn-default.btn-xs
                                |Sélectionner
                .col-xs-4.col-sm-4.col-md-4.col-lg-2
                    .unit
                        .informations.clearfix
                            .pull-left
                                img(src="http://lorempicsum.com/simpsons/50/75/1").sprite
                            .details
                                h2 Jack
                                .separator
                                .stat
                                    img(src="../images/icons/vie.png")
                                    |32
                                .stat
                                    img(src="../images/icons/force.png")
                                    |32
                                .stat
                                    img(src="../images/icons/intelligence.png")
                                    |32
                                .stat
                                    img(src="../images/icons/precision.png")
                                    |32
                                .stat
                                    img(src="../images/icons/defense.png")
                                    |32
                                .stat
                                    img(src="../images/icons/parade.png")
                                    |32
                                .stat
                                    img(src="../images/icons/agilite.png")
                                    |32
                                .separator
                        .actions
                            button.btn.btn-info.btn-xs
                                |24 points
                            button.btn.btn-default.btn-xs
                                |Sélectionner
                .col-xs-4.col-sm-4.col-md-4.col-lg-2
                    .unit
                        .informations.clearfix
                            .pull-left
                                img(src="http://lorempicsum.com/simpsons/50/75/1").sprite
                            .details
                                h2 Jack
                                .separator
                                .stat
                                    img(src="../images/icons/vie.png")
                                    |32
                                .stat
                                    img(src="../images/icons/force.png")
                                    |32
                                .stat
                                    img(src="../images/icons/intelligence.png")
                                    |32
                                .stat
                                    img(src="../images/icons/precision.png")
                                    |32
                                .stat
                                    img(src="../images/icons/defense.png")
                                    |32
                                .stat
                                    img(src="../images/icons/parade.png")
                                    |32
                                .stat
                                    img(src="../images/icons/agilite.png")
                                    |32
                                .separator
                        .actions
                            button.btn.btn-info.btn-xs
                                |24 points
                            button.btn.btn-default.btn-xs
                                |Sélectionner
            .search
<<<<<<< HEAD
                button.btn.btn-success.btn-lg(ng-click="searchFight")
                    |Je suis prêt !
=======
                button.btn.btn-success.btn-lg(ng-click="searchFight()")
                    |Je suis prêt !
>>>>>>> add server, client fixes, and tests
