extends ../village_layout.jade

block content
    .row(ng-controller="FightSearchCtrl")
        .col-sm-12
            .header
                h1 Prêt à combattre ?
            //- .sub-header
            //-     h2 Choisis ton arène
            //- .pools.center-block
            //-     .pool.yellow
            //-         |100
            //-         br
            //-         |points
            //-     .pool.orange
            //-         |200
            //-         br
            //-         |points
            //-     .pool.red
            //-         |400
            //-         br
            //-         |points
            .sub-header
                h2 Choisis parmi ces combattants prêts à mourir pour toi !
            .row
                .col-md-3.col-md-push-9
                    .teams
                        h1 Vos équipes
                        .team(ng-repeat="team in teams", ng-click="select($index)" ng-if="team == selectedTeam").active
                            .points 23
                            .title Les Avengers
                            .stats
                                span.green 7
                                | /
                                span.red 2
                            .clearfix
                        .team(ng-repeat="team in teams", ng-click="select($index)" ng-if="team != selectedTeam")
                            .points 23
                            .title Les Avengers
                            .stats
                                span.green 1
                                | /
                                span.red 4
                            .clearfix
                .col-md-9.col-md-pull-3
                    .units.row
                        .col-xs-6.col-sm-6.col-md-4.col-lg-3(ng-repeat="unit in selectedTeam.units")
                            .unit
                                .informations.clearfix
                                    .pull-left
                                        img(src="http://lorempicsum.com/simpsons/50/75/1").sprite
                                    .details
                                        h2 {{ unit.name }}
                                        .separator
                                        .stat
                                            img(src="../images/icons/vie.png")
                                            |32
                                        .stat
                                            img(src="../images/icons/force.png")
                                            |32
                                        .stat
                                            img(src="../images/icons/intelligence.png")
                                            |32
                                        .stat
                                            img(src="../images/icons/precision.png")
                                            |32
                                        .stat
                                            img(src="../images/icons/defense.png")
                                            |32
                                        .stat
                                            img(src="../images/icons/parade.png")
                                            |32
                                        .stat
                                            img(src="../images/icons/agilite.png")
                                            |32
                                        .separator
                                .actions
                                    button.btn.btn-info.btn-xs
                                        |24 points
                                    button.btn.btn-default.btn-xs
                                        |Sélectionner
            .search
                button.btn.btn-success.btn-lg(ng-click="searchFight()")
                    |Je suis prêt !
