/*
 * Represents the main "layout" CSS file
 */

//@import "base";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap";
@import "../../bower_components/bourbon/dist/bourbon";
// @import "fightpage/_fight.scss";
// @import "fightsearch/_search.scss";
// @import "caserne/_caserne.scss";
// @import "caserne/_unit.scss";
// @import "caserne/_object-info.scss";
//@import "_unit.scss";
@import "_toastr.scss";
@import "_animate.scss";

@import "components/_sidebar.scss";
@import "pages/_home.scss";

html, body, .App {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
