doctype html
html(lang="en", ng-app="znieh")
    head
        meta(charset="utf-8")
        title Znieh Games
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        link(rel="stylesheet", href="/styles/layout.css")
        link(rel="icon", type="image/png", href="/images/favicon.png")


    body

        It works ! :)
        script(src="/js/app.js?v=#{v}")
