.fight-log {
    width: 800px;
    margin: auto;

    .logs {
        height: 120px;
        overflow: auto;
        font-size:12px;
        line-height: 15px;

        .log {
            display: block;
            margin-bottom: 2px;
        }
    }
}
