@import "fight-log.scss";

.game-app {
    float: left;
    width: 864px;
    height: 480px;
    z-index: 1;
    position: relative;
    border: 1px solid darkblue;
    margin-bottom: 10px;
}

.game-block {
    padding-top: 5px;
    width: 1200px;
}

.unit-block {
    width: 100px;
    height: 64px;
    overflow: hidden;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 5px 0 5px 5px;

    @include transition( all .3s ease-in-out );

    .mini {
        width: 95px;
    }

    h1 {
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        padding: 0;
        width: 70px;
        margin: 0 0 5px 0;
    }

    .progress {
        height: 8px;
        margin-bottom: 3px;
        border-radius: 2px;
        width: 50px;
    }

    .stats {
        margin-top: 3px;
        height: 29px;
    }
}

.left-side {
    float: left;
    text-align: left;
    z-index: 2;
    position: relative;

    .unit-block:hover, .unit-block.active {
        width: 250px;
        margin-right: -170px;
    }

    .unit-block {
        .mini {
            float: left;
        }

        .avatar {
            float: left;
            margin-right: 3px;
        }

        .stats {
            img {
                margin-right: 2px;
            }
        }
    }
}

.right-side {
    float: left;
    text-align: right;
    z-index: 2;
    position: relative;

    .unit-block:hover, .unit-block.active {
        width: 250px;
        margin-left: -150px;

        .details {
            float: left;
            display: block;
        }
    }

    .unit-block {
        .details {
            float: left;
            display: none;
        }

        .mini {
            float: right;
        }

        .avatar {
            float: right;
            margin-left: 3px;
        }

        .progress {
            float: right;
        }

        .stats {
            img {
                margin-left: 2px;
            }
        }
    }
}
