.landscape {
    display: block;
    background: url('../images/landscape.jpg') center center no-repeat scroll;
    background-size: cover;
    padding-top: 50px;
}

.logo {
    margin: 0 auto;
    display: block;
    height: 274px;
    width: 300px;
    background: url('../images/logo.png') center center no-repeat scroll;
    background-size: cover;
}

.business-header {
  height: 320px;
  padding-top: 15px;
}

.homepage-layer {
  background: rgba(255,255,255, 0.6);
}

.user-content {
  color: white;
}
