/*
 * Represents the main "layout" CSS file
 */

//@import "base";
@import "../vendor/bootstrap-sass-official/assets/stylesheets/_bootstrap";
@import "../vendor/bourbon/dist/bourbon";
@import "fightpage/fight.scss";
@import "_homepage.scss";
@import "fightsearch/search.scss";
@import "caserne/_unit.scss";

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-left: -20px;

    li > a {
        padding: 8px 10px 6px 10px;
        text-align: center;
    }

    li:not(.active) > a {
        border-top: 1px solid #d2d2d2;
    }

    li:last-child > a {
      border-bottom: 1px solid #d2d2d2;
    }

    .active > a,
    .active > a:hover,
    .active > a:focus {
        color: white;
        background-color: #AD979E;
        border-bottom: 4px solid #9a878d;
    }
}

.nav-sidebar.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main {
  padding: 20px;
}

.main .page-header {
  margin-top: 0;
}
