Znieh\Model\Physical:
    type:  entity
    table: physical
    id:
        id:
            type: integer
            generator:
                strategy: AUTO
    fields:
      name:
        type: string
        length: 255
