.row
  .col-sm-12
    .fight-log
      .panel.panel-default
        .panel-heading
          strong Journal de combat
        .panel-body.logs
          .log
            | [12:50:13] &nbsp;
            span.text-success
              strong Bobby
            | &nbsp;attaque&nbsp;
            span.text-danger
              strong Bledard
            | &nbsp;avec&nbsp;
            strong Tempête de feu&nbsp;
            span.text-success
              strong (35 dégâts)
          .log
            | [12:50:13] &nbsp;
            span.text-success
              strong Bobby
            | &nbsp;attaque&nbsp;
            span.text-danger
              strong Bledard
            | &nbsp;avec&nbsp;
            strong Tempête de feu&nbsp;
            span.text-success
              strong (35 dégâts)
          .log
            | [12:50:13] &nbsp;
            span.text-success
              strong Bobby
            | &nbsp;attaque&nbsp;
            span.text-danger
              strong Bledard
            | &nbsp;avec&nbsp;
            strong Tempête de feu&nbsp;
            span.text-success
              strong (35 dégâts)
          .log
            | [12:50:13] &nbsp;
            span.text-success
              strong Bobby
            | &nbsp;attaque&nbsp;
            span.text-danger
              strong Bledard
            | &nbsp;avec&nbsp;
            strong Tempête de feu&nbsp;
            span.text-success
              strong (35 dégâts)

          .log
            | [12:50:13] &nbsp;
            span.text-success
              strong Bobby
            | &nbsp;attaque&nbsp;
            span.text-danger
              strong Bledard
            | &nbsp;avec&nbsp;
            strong Tempête de feu&nbsp;
            span.text-success
              strong (35 dégâts)
          .log
            | [12:50:13] &nbsp;
            span.text-success
              strong Bobby
            | &nbsp;attaque&nbsp;
            span.text-danger
              strong Bledard
            | &nbsp;avec&nbsp;
            strong Tempête de feu&nbsp;
            span.text-success
              strong (35 dégâts)
          .log
            | [12:50:13] &nbsp;
            span.text-success
              strong Bobby
            | &nbsp;attaque&nbsp;
            span.text-danger
              strong Bledard
            | &nbsp;avec&nbsp;
            strong Tempête de feu&nbsp;
            span.text-success
              strong (35 dégâts)
          .log
            | [12:50:13] &nbsp;
            span.text-success
              strong Bobby
            | &nbsp;attaque&nbsp;
            span.text-danger
              strong Bledard
            | &nbsp;avec&nbsp;
            strong Tempête de feu&nbsp;
            span.text-success
              strong (35 dégâts)

          .log
            | [12:50:13] &nbsp;
            span.text-success
              strong Bobby
            | &nbsp;attaque&nbsp;
            span.text-danger
              strong Bledard
            | &nbsp;avec&nbsp;
            strong Tempête de feu&nbsp;
            span.text-success
              strong (35 dégâts)
          .log
            | [12:50:13] &nbsp;
            span.text-success
              strong Bobby
            | &nbsp;attaque&nbsp;
            span.text-danger
              strong Bledard
            | &nbsp;avec&nbsp;
            strong Tempête de feu&nbsp;
            span.text-success
              strong (35 dégâts)
          .log
            | [12:50:13] &nbsp;
            span.text-success
              strong Bobby
            | &nbsp;attaque&nbsp;
            span.text-danger
              strong Bledard
            | &nbsp;avec&nbsp;
            strong Tempête de feu&nbsp;
            span.text-success
              strong (35 dégâts)
          .log
            | [12:50:13] &nbsp;
            span.text-success
              strong Bobby
            | &nbsp;attaque&nbsp;
            span.text-danger
              strong Bledard
            | &nbsp;avec&nbsp;
            strong Tempête de feu&nbsp;
            span.text-success
              strong (35 dégâts)