.container-fluid
  .row
    .col-md-12
        .center-block.game-block
            .left-side
                .unit-block
                    .mini
                        h1 Darkouu
                        img(src="http://placehold.it/32x32" alt="...").avatar
                        .progress
                            .progress-bar.progress-bar-success(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;")
                                .sr-only 100%
                        .stats
                            img(src="../../images/icons/spell0.png" alt="...")
                            img(src="../../images/icons/spell1.png" alt="...")
                            img(src="../../images/icons/spell2.png" alt="...")
                    .details
                        p coucou
                .unit-block
                    .mini
                        h1 Jacky Chan
                        img(src="http://placehold.it/32x32" alt="...").avatar
                        .progress
                            .progress-bar.progress-bar-success(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;")
                                .sr-only 100%
                        .stats
                            img(src="../../images/icons/spell0.png" alt="...")
                            img(src="../../images/icons/spell1.png" alt="...")
                            img(src="../../images/icons/spell2.png" alt="...")
                    .details
                        p coucou
                .unit-block
                    .mini
                        h1 Bruce Lee
                        img(src="http://placehold.it/32x32" alt="...").avatar
                        .progress
                            .progress-bar.progress-bar-success(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;")
                                .sr-only 100%
                        .stats
                            img(src="../../images/icons/spell0.png" alt="...")
                            img(src="../../images/icons/spell1.png" alt="...")
                            img(src="../../images/icons/spell2.png" alt="...")
                    .details
                        p coucou
            .game-app
            .right-side
                .unit-block
                    .details
                        p coucou
                    .mini
                        h1 GreG
                        img(src="http://placehold.it/32x32" alt="...").avatar
                        .progress
                            .progress-bar.progress-bar-success(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;")
                                .sr-only 100%
                        .stats
                            img(src="../../images/icons/spell0.png" alt="...")
                            img(src="../../images/icons/spell1.png" alt="...")
                            img(src="../../images/icons/spell2.png" alt="...")
                .unit-block
                    .details
                        p coucou
                    .mini
                        h1 Robert
                        img(src="http://placehold.it/32x32" alt="...").avatar
                        .progress
                            .progress-bar.progress-bar-success(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;")
                                .sr-only 100%
                        .stats
                            img(src="../../images/icons/spell0.png" alt="...")
                            img(src="../../images/icons/spell1.png" alt="...")
                            img(src="../../images/icons/spell2.png" alt="...")
                .unit-block
                    .details
                        p coucou
                    .mini
                        h1 Maurice
                        img(src="http://placehold.it/32x32" alt="...").avatar
                        .progress
                            .progress-bar.progress-bar-success(role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;")
                                .sr-only 100%
                        .stats
                            img(src="../../images/icons/spell0.png" alt="...")
                            img(src="../../images/icons/spell1.png" alt="...")
                            img(src="../../images/icons/spell2.png" alt="...")