.container-fluid
  .row
    .col-md-12
        .center-block.game-block
            .left-side
                .unit-block gentil
                .unit-block gentil
            .game-app
            .right-side
                .unit-block mechant coucou hiboux
                .unit-block mechant coucou hiboux