extends ../village_layout.jade

block content
    .game(ng-controller="FightCtrl")
        .center-block.game-block
            .left-side
                .unit-block(ng-repeat="unit in leftTeam")
                    .mini
                        h1 {{ unit.name }}
                        img(src="http://placehold.it/32x32" alt="...").avatar
                        .progress
                            .progress-bar.progress-bar-success(role="progressbar" aria-valuenow="{{ unit.life }}" aria-valuemin="0" aria-valuemax="{{ unit.maxLife }}" style="width: 40%;")
                                .sr-only 100%
                        .stats
                            img(src="../../images/icons/spell0.png" alt="...")
                            img(src="../../images/icons/spell1.png" alt="...")
                            img(src="../../images/icons/spell2.png" alt="...")
                    //- .details
                    //-     p {{ unit.size.name }} {{ unit.weight.name }}
            .game-app#game-app
            .right-side
                .unit-block(ng-repeat="unit in rightTeam")
                    .mini
                        h1 {{ unit.name }}
                        img(src="http://placehold.it/32x32" alt="...").avatar
                        .progress
                            .progress-bar.progress-bar-success(role="progressbar" aria-valuenow="{{ unit.life }}" aria-valuemin="0" aria-valuemax="{{ unit.maxLife }}" style="width: 40%;")
                                .sr-only 100%
                        .stats
                            img(src="../../images/icons/spell0.png" alt="...")
                            img(src="../../images/icons/spell1.png" alt="...")
                            img(src="../../images/icons/spell2.png" alt="...")
                    //- .details
                    //-     p {{ unit.size.name }} {{ unit.weight.name }}
        .center-block.game-block
            //- include ./fight_log.jade
