extends ../village_layout.jade

block content
    .game(ng-controller="FightCtrl")
        .center-block.game-block
            .left-side
                .unit-block(ng-repeat="unit in units" ng-class="{'active': unit.selected === true}" ng-if="side === 'left' && unit.isOwned === true || side === 'right' && unit.isOwned === false")
                    .mini
                        h1 {{ unit.name }}
                        img(src="../../images/units/{{ unit.sprite.name }}.png" alt="...").avatar
                        .progress
                            <progressbar animate="false" max="unit.maxLife" value="unit.life" type="success"></progressbar>
                        .stats
                            img(src="../../images/icons/spell0.png" alt="...")
                            img(src="../../images/icons/spell1.png" alt="...")
                            img(src="../../images/icons/spell2.png" alt="...")
            .game-app#game-app
            .right-side
                .unit-block(ng-repeat="unit in units" ng-class="{'active': unit.selected === true}" ng-if="side === 'right' && unit.isOwned === true || side === 'left' && unit.isOwned === false")
                    .mini
                        h1 {{ unit.name }}
                        img(src="../../images/units/{{ unit.sprite.name }}.png" alt="...").avatar
                        .progress
                            <progressbar animate="false" max="unit.maxLife" value="unit.life" type="success"></progressbar>
                        .stats
                            img(src="../../images/icons/spell0.png" alt="...")
                            img(src="../../images/icons/spell1.png" alt="...")
                            img(src="../../images/icons/spell2.png" alt="...")
        .center-block.game-block
            //- include ./fight_log.jade
