.container
  h2 Assemble tes armes, crée tes personnages, choisis leurs compétences et affronte les combinaisons des autres joueurs !
  p Nous voulons laisser la liberté aux joueurs

  h2 Fais ton choix parmis plus de 200 pièces à débloquer dans ton village soit 10000 combinaisons possibles !
  p Avec 5 bâtiments : la Forge, ... Tu choisiras chacune des pièces de tes armes, du pommeau à la lame !

  h2 Participe à l'équilibrage du jeu en proposant directement tes patchs !
  p Nous impliquons les joueurs dans la réalisation du jeu

  hr

  include ./register_footer.jade
