header.business-header
  .logo

.container
  .row
    .col-md-12
      h1.tagline Le Free to Play qui met fin aux classes prédéfinies !
      h2.tagline Compose toi-même tes unités et combat des milliers d’adversaires...
  .row
    .col-md-4.col-md-offset-4(ng-controller="OpenRegistrationCtrl")
      include ./register_newsletter.jade
      include ./register_user.jade
