header.business-header

.container
  .row
    .col-md-8
      h1.tagline Avec Znieh, dit adieu aux classes prédéfinies et customises toi-même tes unités !
      h2.tagline Le braingame qui met à rude épreuve ta stratégie...
    .col-md-4(ng-controller="OpenRegistrationCtrl")
      include ./register_newsletter.jade
      include ./register_user.jade
