br
.panel.panel-info
    .panel-heading Rejoins l'aventure dès maintenant
    .panel-body
       p Entre ton email et participe aux bêtas du jeu !
       form#signupnewsletter.form-horizontal(role="form")

          .form-group
              .col-md-11
                .input-group
                   input.form-control(type="text", name="email" placeholder="Email")
                   span.input-group-btn
                      button.btn.btn-primary(type="button") J'en suis
