br
.panel.panel-info(ng-hide="openRegistration")
    .panel-heading Rejoins l'aventure dès maintenant
    .panel-body
       p Entre ton email et participe aux bêtas du jeu !
       form#newsletter.form-horizontal(role="form" ng-submit="submit()" ng-controller="RegistrationEmailCtrl")
          .form-group
              .col-md-11
                .input-group
                   input.form-control(type="text", name="email" ng-model="user.email" placeholder="Email")
                   span.input-group-btn
                      button.btn.btn-primary(type="submit") J'en suis
