form#newsletter-footer.form-horizontal(role="form" ng-submit="submit()" ng-controller="RegistrationEmailCtrl")
 .form-group
     .col-md-10.col-md-offset-1
       .input-group.input-group-lg
          input.form-control(type="text", name="email" ng-model="user.email" placeholder="Entre ton email")
          span.input-group-btn
             button.btn.btn-primary(type="submit") J'en suis
