.container
  .row.vertical-align
    .col-xs-9
      h2 Assemble tes armes, crée tes personnages, choisis leurs compétences !
      h4 Compose ton armée et établit ta stratégie pour le combat dans l’arène.
    .col-xs-2
      img(src="images/rogue.png" alt="...").img-responsive
  .row.vertical-align
    .col-xs-2
      img(src="images/book.png" alt="...").img-responsive
    .col-xs-10
      h2 Fais ton choix parmi plus de 200 éléments à débloquer dans ton village !
      h4 Forge chacune des pièces de tes armes et assemble-les, du pommeau à la lame.
  .row.vertical-align
    .col-xs-8
      h2 Participe au développement du jeu en proposant directement tes patchs !
      h4 Tu peux dès à présent télécharger les sources du jeu sur GitHub et proposer tes améliorations.
    .col-xs-3
      a(href="https://github.com/ZniehGames/znieh")
        img(src="images/github-logo.png" alt="...").img-responsive

