
.contributing  {
  text-align: center;
  background: #323b43;
  border-radius: 3px;
  color: white;
  height: auto;
  margin-bottom: 32px;
  padding: 32px 5% 10px 5%;
  -webkit-animation: nod 3s 15s ease-in-out;
}

.contributing h3 {
  margin-bottom: 30px;
}

