.col-md-3.object-info-container
  .object-info
     .name {{ object.name }}
     .bonuses
        object-bonuses(bonuses="object.bonuses")
        span(ng-if="object.defense > 0")
          | {{ object.defense }}
          img(src="../images/stats/defense.png")
        span(ng-if="object.min_damage > 0")
          | {{ object.min_damage }}-{{ object.max_damage }}
          img(src="../images/stats/tranch.png")
        span(ng-if="object.weight > 0")
          | {{ object.weight }}
          img(src="../images/stats/weight.png")
